{{ collection:pages slug="rullande-banner" limit="1" }}
    {{ marquee }}
        {{ if type == "banner" }}

            <section
                class="relative hidden overflow-hidden border-y border-white/10 bg-[#f5f5f7] text-[#181818] md:block"
            >
                <div
                    class="marquee"
                    data-marquee
                >
                    <div
                        class="marquee-track"
                        data-marquee-track
                    >
                        <!-- ORIGINAL -->
                        <div
                            class="marquee-content flex shrink-0 items-center"
                            data-marquee-content
                        >
                            <span class="mx-10 text-[9px] uppercase tracking-[0.28em]">
                                {{ text_1 }}
                            </span>

                            <span class="text-xs text-[#181818]/30">
                                {{ symbol }}
                            </span>

                            <span class="mx-10 font-serif text-2xl">
                                {{ text_2 }}
                            </span>

                            <span class="text-xs text-[#181818]/30">
                                {{ symbol }}
                            </span>

                            <span class="mx-10 text-[9px] uppercase tracking-[0.28em]">
                                {{ text_3 }}
                            </span>

                            <span class="text-xs text-[#181818]/30">
                                {{ symbol }}
                            </span>

                            <span class="mx-10 text-[9px] uppercase tracking-[0.28em]">
                                {{ text_4 }}
                            </span>

                            <span class="mx-10 text-xs text-[#181818]/30">
                                {{ symbol }}
                            </span>
                        </div>
                    </div>
                </div>
            </section>

        {{ /if }}
    {{ /marquee }}
{{ /collection:pages }}
