<header class="fixed left-0 right-0 top-0 z-[100] pointer-events-none">

    <nav class="pointer-events-auto relative flex h-[64px] items-center px-4 md:h-[50px] md:px-6 bg-white border-b border-gray-900">

        <!-- LOGO -->

        <a href="/"
            class="text-[10px] font-semibold uppercase tracking-[0.2em] transition-opacity duration-500 hover:opacity-50">
            LOGGA
        </a>


        <!-- CENTER NAVIGATION -->

        <div class="absolute left-1/2 hidden -translate-x-1/2 items-center gap-9 md:flex">

            <a href="#about"
                class="group relative text-[12px] uppercase font-bold tracking-[0.2em] text-black transition-colors duration-500 hover:text-black">
                Om oss

                <span
                    class="absolute -bottom-1 left-0 h-px w-0 bg-black transition-all duration-500 group-hover:w-full"></span>

            </a>


            <a href="#work"
                class="group relative text-[12px] font-bold uppercase tracking-[0.2em] text-black transition-colors duration-500 hover:text-black">
                Projekt

                <span
                    class="absolute -bottom-1 left-0 h-px w-0 bg-black transition-all duration-500 group-hover:w-full"></span>

            </a>


            <a href="#services"
                class="group relative text-[12px] uppercase tracking-[0.2em] font-bold text-black transition-colors duration-500 hover:text-black">
                Tjänster

                <span
                    class="absolute -bottom-1 left-0 h-px w-0 bg-black transition-all duration-500 group-hover:w-full"></span>

            </a>

        </div>


        <!-- CONTACT -->

        <div class="ml-auto">

            <a href="#contact"
                class="group relative text-[12px] uppercase tracking-[0.2em] font-bold text-black transition-colors duration-500 hover:text-black">
                Kontakt
                <span
                class="absolute -bottom-1 left-0 h-px w-0 bg-black transition-all duration-500 group-hover:w-full"></span>

               

            </a>

        </div>

    </nav>

</header>